<div class="container">
    <div class="sidebar">
        <h3>Groups
            <button *ngIf="windowLoaded() && isAdmin()" (click)="showCreateGroupForm()" class="add-button">+</button>
        </h3>
        <ul>
            <li *ngFor="let group of groups">
                <button (click)="selectGroup(group.id)">{{ group.name }}</button>
                <button *ngIf="windowLoaded() && ownsGroup(group.id)" (click)="deleteGroup(group.id)"
                    class="delete-button">X</button>
            </li>

        </ul>
        <div *ngIf="selectedGroupId !== null">
            <h3>Channels
                <button *ngIf="windowLoaded() && isGroupAdmin(selectedGroupId)" (click)="showCreateChannelForm()"
                    class="add-button">+</button>
            </h3>
            <ul>
                <li *ngFor="let channel of filteredChannels">
                    <button (click)="selectChannel(channel.id)">{{ channel.name }}</button>
                    <button *ngIf="windowLoaded() && isGroupAdmin(selectedGroupId)" (click)="deleteChannel(channel.id)"
                        class="delete-button">X</button>
                </li>
            </ul>
        </div>
        <button (click)="showJoinRequestModal()" class="join-request-button">
            Make Request
        </button>
    </div>

    <div class="chat-area">
        <h3>{{getSelectedGroupName()}}</h3>
        <div *ngIf="windowLoaded() && !this.loggedInUser?.roles?.includes('superAdmin');">
            <button *ngIf="selectedGroupId !== null" (click)="leaveGroup()" class="leave-button">
                Leave Group
            </button>
        </div>
        <div *ngIf="selectedChannelId !== null">
            <p>Currently chatting in channel ID: {{ selectedChannelId }}</p>
            <div id="messagesContainer" class="messages">
                <div *ngFor="let message of filteredMessages" class="message">
                    {{ message.username }}: {{ message.text }}
                </div>
            </div>
            <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()">
            <button (click)="sendMessage()">Send</button>
        </div>
        <button *ngIf="windowLoaded() && selectedGroupId !== null && isGroupAdmin(selectedGroupId)"
            (click)="showManageMembersModal()" class="manage-button">
            Manage Members
        </button>
        <button *ngIf="windowLoaded() && selectedGroupId !== null && isGroupAdmin(selectedGroupId)"
            (click)="showViewRequestsModal(selectedGroupId)" class="view-requests-button">View Requests</button>
    </div>

    <div *ngIf="showGroupForm" class="modal">
        <div class="modal-content">
            <h3>Create Group</h3>
            <div>
                <input type="text" [(ngModel)]="newGroupName" placeholder="Enter group name">
                <button (click)="createGroup()">Create</button>
            </div>
            <button (click)="hideCreateGroupForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="showChannelForm" class="modal">
        <div class="modal-content">
            <h3>Create Channel</h3>
            <div>
                <input type="text" [(ngModel)]="newChannelName" placeholder="Enter channel name">
                <button (click)="createChannel()">Create</button>
            </div>
            <button (click)="hideCreateChannelForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="showManageMembersForm" class="modal">
        <div class="modal-content-manage">
            <h3>Manage Members for Group: {{ getSelectedGroupName() }}</h3>
            <div class="manage-row">
                <div>
                    <h4>Add Member</h4>
                    <input type="text" [(ngModel)]="newMemberUsername" placeholder="Enter username">
                    <button (click)="addMember()">Add</button>
                </div>
                <div *ngIf="windowLoaded() && this.loggedInUser?.roles?.includes('superAdmin');">
                    <h4>Promote Member</h4>
                    <input type="text" [(ngModel)]="newMemberUsername" placeholder="Enter username">
                    <button (click)="promoteMember(newMemberUsername)">Add</button>
                </div>
            </div>
            <div class="manage-row">
                <div>
                    <h4>Remove Member</h4>
                    <input type="text" [(ngModel)]="removeMemberUsername" placeholder="Enter username">
                    <button (click)="removeMember()">Remove</button>
                </div>
            </div>
            <div *ngIf="feedbackMessage"
                [ngClass]="{'success-message': feedbackMessageType === 'success', 'error-message': feedbackMessageType === 'error'}">
                {{ feedbackMessage }}
            </div>
            <button (click)="hideManageMembersModal()">Close</button>
        </div>
    </div>

    <div *ngIf="showRequestForm" class="modal">
        <div class="modal-content">
            <h3>Join Request</h3>
            <div>
                <input type="text" [(ngModel)]="joinRequestGroupName" placeholder="Enter group name">
                <button (click)="submitJoinRequest()">Confirm Join Request</button>
                <button *ngIf="selectedGroupId !== null" (click)="requestAdminRights()">Request Admin Rights</button>
            </div>
            <div *ngIf="feedbackMessage"
                [ngClass]="{'success-message': feedbackMessageType === 'success', 'error-message': feedbackMessageType === 'error'}">
                {{ feedbackMessage }}
            </div>
            <button (click)="hideJoinRequestForm()">Cancel</button>
        </div>
    </div>


    <div *ngIf="showViewRequestsForm" class="modal">
        <div class="modal-content">
            <h3>Requests for Group: {{ joinRequestGroupName }}</h3>
            <div>
                <h4>Join Requests</h4>
                <div>
                    <ul>
                        <li *ngFor="let request of showJoinRequests()">
                            <div>{{ request.username }}: {{ request.reason }}</div>
                            <div class="approve-reject-buttons">
                                <button class="approve" (click)="approveRequest(request.username)">Approve</button>
                                <button class="reject" (click)="rejectRequest(request.username)">Reject</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="windowLoaded() && this.loggedInUser?.roles?.includes('superAdmin');">
                    <h4>Admin Requests</h4>
                    <ul>
                        <li *ngFor="let request of showAdminRequests()">
                            <div>{{ request.username }}: {{ request.reason }}</div>
                            <div class="approve-reject-buttons">
                                <button class="approve" (click)="promoteMember(request.username)">Approve</button>
                                <button class="reject" (click)="rejectRequest(request.username)">Reject</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="feedbackMessage"
                [ngClass]="{'success-message': feedbackMessageType === 'success', 'error-message': feedbackMessageType === 'error'}">
                {{ feedbackMessage }}
            </div>

            <button (click)="hideViewRequestsForm()" class="close-button">Close</button>
        </div>
    </div>

</div>