.container {
    display: flex;
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar {
    width: 150px;
    border-right: 1px solid lightgray;
    padding-right: 20px;
}

.sidebar h3 {
    color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.chat-area {
    flex: 1;
    padding-left: 20px;
}

.chat-area h3 {
    color: darkslategray;
    margin-bottom: 10px;
    margin-top: 5px;
}

.messages {
    height: 50vh;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message-image {
    max-width: 100%;
    max-height: 150px;
    border-radius: 5px;
    margin-right: 5px;
    object-fit: cover;
}


.username{
    padding-top: 1px;
    padding-right: 5px;
}

.messageText{
    padding-top: 1px;
    padding-right: 5px;

}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    width: 50%px;
    padding: 10px;
    font-size: 15px;
    background-color: #0266c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #024d8c;
}

.add-button {
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #f1f1f1;
    color: #0266c9;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 3px;
    text-align: center;
    line-height: 1;
}

.add-button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #7a5ce6;
}

.delete-button {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: none;
    border: 1px solid #f1f1f1;
    color: red;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 3px;
    text-align: center;
    line-height: 1;
}

.delete-button:hover {
    color: white;
    border-color: red;
    background-color: red;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content-manage {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content .close-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: #0266c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content .close-button:hover {
    background-color: #024d8c;
}

.manage-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.leave-button {
    position: absolute;
    top: 80px;
    right: 30px;
    padding: 10px;
    font-size: 15px;
    background-color: #0266c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-request-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: #0266c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-reject-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;

}

.approve {
    background-color: rgb(54, 184, 54);
}

.reject {
    background-color: rgb(207, 64, 64);
}

.approve :hover {
    background-color: rgb(28, 138, 28);
}

.reject :hover {
    background-color: rgb(161, 36, 36);
}

.manage-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.manage-row .div {
    width: 500px;
}

.timestamp {
    font-size: 10px;
    color: gray;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.uploadImage{
    margin-bottom: 5px;
}

.groupChannelButtons button{
    margin-top: 5px;
    margin-right: 5px;
}

.inputMessage{
    margin-right: 5px;
}