<div class="container">
    <div class="sidebar">
        <h3>Groups
            <button *ngIf="isAdmin()" (click)="showCreateGroupForm()" class="add-button">+</button>
        </h3>
        <ul>
            <li *ngFor="let group of groups">
                <button (click)="selectGroup(group.id)">{{ group.name }}</button>
                <button *ngIf="isAdmin()" (click)="deleteGroup(group.id)" class="delete-button">X</button>
            </li>
        </ul>
        <div *ngIf="selectedGroupId !== null">
            <h3>Channels
                <button *ngIf="isAdmin()" (click)="showCreateChannelForm()" class="add-button">+</button>
            </h3>
            <ul>
                <li *ngFor="let channel of filteredChannels">
                    <button (click)="selectChannel(channel.id)">{{ channel.name }}</button>
                    <button *ngIf="isAdmin()" (click)="deleteChannel(channel.id)" class="delete-button">X</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="chat-area">
        <h3>Chat Area</h3>
        <div *ngIf="!this.loggedInUser?.roles?.includes('superAdmin');" >
            <button *ngIf="selectedGroupId !== null" (click)="leaveGroup()" class="leave-button">
                Leave Group
            </button>
        </div>
        <div *ngIf="selectedChannelId !== null">
            <p>Currently chatting in channel ID: {{ selectedChannelId }}</p>
            <div id="messagesContainer" class="messages">
                <div *ngFor="let message of filteredMessages" class="message">
                    {{ message.username }}: {{ message.text }}
                </div>
            </div>
            <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()">
            <button (click)="sendMessage()">Send</button>
        </div>
        <button *ngIf="isAdmin() && selectedGroupId !== null" (click)="showManageMembersModal()" class="manage-button">
            Manage Members
        </button>
    </div>

    <div *ngIf="showGroupForm" class="modal">
        <div class="modal-content">
            <h3>Create Group</h3>
            <div>
                <input type="text" [(ngModel)]="newGroupName" placeholder="Enter group name">
                <button (click)="createGroup()">Create</button>
            </div>
            <button (click)="hideCreateGroupForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="showChannelForm" class="modal">
        <div class="modal-content">
            <h3>Create Channel</h3>
            <div>
                <input type="text" [(ngModel)]="newChannelName" placeholder="Enter channel name">
                <button (click)="createChannel()">Create</button>
            </div>
            <button (click)="hideCreateChannelForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="showManageMembersForm" class="modal">
        <div class="modal-content">
            <h3>Manage Members for Group: {{ getSelectedGroupName() }}</h3>
            <div>
                <h4>Add Member</h4>
                <input type="text" [(ngModel)]="newMemberUsername" placeholder="Enter username to add">
                <button (click)="addMember()">Add</button>
            </div>
            <div>
                <h4>Remove Member</h4>
                <input type="text" [(ngModel)]="removeMemberUsername" placeholder="Enter username to remove">
                <button (click)="removeMember()">Remove</button>
            </div>
            <div *ngIf="feedbackMessage"
                [ngClass]="{'success-message': feedbackMessageType === 'success', 'error-message': feedbackMessageType === 'error'}">
                {{ feedbackMessage }}
            </div>
            <button (click)="hideManageMembersModal()">Close</button>
        </div>
    </div>

</div>